/* **************** */
/*  */
/* **************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*  */
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not work on Safari and Edge from Microsoft */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* ********************** */
/* GENERAL HELPER CLASSES */
/* ********************** */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-left-sm {
  margin-left: 1.6rem !important;
}

.margin-top {
  margin-top: 10rem !important;
}

.margin-bottom {
  margin-bottom: 10rem !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary {
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 7.2rem;
  line-height: 1.05;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1.1;
  color: #888;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #da4760;
  margin-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #da4760;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15rem;
}
